.content{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.main_content{
    min-width: 0;
}
.logo_box{
    gap: 10px;
}
.menu_box{
    gap: 10px;
}
.menu_list{
    color:white;
    text-decoration: none;
}
.menu_list:hover{
    background: #ffffff; /* A fallback color */
    opacity: 0.5;
    color: grey;
    border-radius: 10px;
}
#sidebar{
    background: linear-gradient(90deg,#ef7e00,#fbaf18);
    min-height: 100vh;
    gap: 10px;
    width: 70px;
}
#header{
    background: linear-gradient(90deg,#ef7e00,#fbaf18);
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.77);
    -webkit-box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.77);
    -moz-box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.77);
}
#profile_dropdown{
    position: absolute;
    bottom: -65px;
}
#btn_submit{
    width: 100%;
}
.main_logo{
    width: 100%;
}
.pagination{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.pagination li, .pagination li a{
    color: black;
    text-decoration: none;    
}
.pagination > .active{
    font-weight: bold;
}
#search{
    width: 100%;
}
.login-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    background: linear-gradient(90deg,#ef7e00,#fbaf18);
    padding: 10px;
    border-radius: 10px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #search{
        width: 0;
    }
    #sidebar{
        width: 100px;
    } 
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #sidebar{
        width: 300px;
    }
    .main_logo{
        width: 100px;
    }
    .content{
        max-width: 1700px;
    }
    #btn_submit{
        width: 100px;
    }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }